@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Patrick+Hand&family=Poppins:wght@600&display=swap');

* {
  font-family: 'Lexend', 'Patrick Hand', 'Poppins', Sakkal Majalla, Century Gothic, Maiandra GD;
}

/* width Scrollbar */
::-webkit-scrollbar {
  width: 0px;
}

.navbar {
  color: black;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.container img {
  width: 80px;
}

.dark-mode {
  background-color: #0C172F;
  color: #E4E7E0;
}

section {
  padding-top: 5rem;
}

.info {
  display: flex;
  align-items: center;
}

.info h1 {
  margin-left: 35px;
  font-size: 57px;
  font-weight: bold;
}

.info img {
  margin-top: 40px;
  margin-left: 40px;
  width: 450px;
  height: 500px;
  filter: grayscale(100%);
  border-radius: 40px;
}

.info img:hover {
  filter: none;
  cursor: crosshair;
}

.sisi {
  display: flex;
}

.kiri {
  width: 550px;
}

.kanan {
  width: 550px;
}

#about {
  margin-top: 40px;
}

#about img {
  width: 95px;
  height: 80px;
}

.img-hover-zoom {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.img-hover-zoom img {
  transition: transform 1s ease;
  width: 100%;
  opacity: 1;
}

.img-hover-zoom:hover img {
  transform: scale(1.5);
}

.img-hover-zoom:hover .middle {
  opacity: 1;
}

.middle {
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  color: white;
  font-size: 20px;
}

.card-text {
  color: black;
}

input[type="text"] {
  height: 60px;
}

textarea {
  height: 150px;
}

.name-email {
  display: flex;
}

footer {
  margin-top: 200px;
}

.sosmed {
  display: flex;
  justify-content: center;
}

.instagram {
  display: flex;
  justify-content: center;
  align-items: center;
}

.instagram a {
  text-decoration: none;
  color: #6C757D;
}

.instagram a:hover {
  text-decoration: underline;
  color: #333333;
}

.instagram img {
  width: 30px;
  height: 30px;
}

.linkedin {
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkedin a {
  text-decoration: none;
  color: #6C757D;
}

.linkedin a:hover {
  text-decoration: underline;
  color: #333333;
}

.linkedin img {
  width: 30px;
  height: 30px;
}

.github {
  display: flex;
  justify-content: center;
  align-items: center;
}

.github a {
  text-decoration: none;
  color: #6C757D;
}

.github a:hover {
  text-decoration: underline;
  color: #333333;
}

.github img {
  width: 30px;
  height: 30px;
}

footer p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  color: #6C757D;
}

#toTopBtn {
  position: fixed;
  border-radius: 20px;
  bottom: 26px;
  right: 39px;
  z-index: 98;
  padding: 21px;
  background-color: #6C757D;
}

.js .cd-top--fade-out {
  opacity: .5
}

.js .cd-top--is-visible {
  visibility: visible;
  opacity: 1
}

.js .cd-top {
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s, visibility .3s, background-color .3s
}

.cd-top {
  position: fixed;
  bottom: 20px;
  bottom: var(--cd-back-to-top-margin);
  right: 20px;
  right: var(--cd-back-to-top-margin);
  display: inline-block;
  height: 40px;
  height: var(--cd-back-to-top-size);
  width: 40px;
  width: var(--cd-back-to-top-size);
  box-shadow: 0 0 10px rgba(0, 0, 0, .05) !important;
  background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg) no-repeat center 50%;
  background-color: #0a1324;
  background-color: hsla(var(--cd-color-3-h), var(--cd-color-3-s), var(--cd-color-3-l), 0.8)
}