body {
  min-height: 2980px;
}

.warna {
  background-color: white;
}

section {
  padding-top: 5rem;
}

.jumbotron {
  padding-top: 7rem;
}

#about {
  background-color: #b3ffb3;
}

#kegiatan img {
  height: 250px;
}

#kontak {
  background-color: #b3ffb3;
}
