* {
  font-family: Century Gothic, Nyala, Maiandra GD, Estrangelo Edessa;
}

body {
  min-height: 1200px;
  color: black;
}

.navbar {
  font-weight: bold;
}

.dark-mode {
  background-color: #0a1324;
  color: white;
}

.font-nav {
  color: black;
}

/* width Scrollbar */
::-webkit-scrollbar {
  width: 0px;
}

.warna {
  background-color: white;
}

section {
  padding-top: 5rem;
}

.zulfikar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.zulfikar h1 {
  font-size: 60px;
}

.zulfikar img {
  width: 200px;
  height: 250px;
}

.sisi {
  display: flex;
}

.kiri {
  width: 550px;
}

.kanan {
  width: 550px;
}

.img-hover-zoom {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.img-hover-zoom img {
  transition: transform 1s ease;
  width: 100%;
  opacity: 1;
}

.img-hover-zoom:hover img {
  transform: scale(1.5);
}

.img-hover-zoom:hover .middle {
  opacity: 1;
}

.middle {
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  color: white;
  font-size: 20px;
}

.card-text {
  color: black;
}

.name-email {
  display: flex;
}

.btn {
  background-color: #3bb300;
  color: white;
}

.btn:hover {
  color: #f2f2f2;
}

.sosmed {
  display: flex;
  justify-content: center;
}

.instagram {
  display: flex;
  justify-content: center;
  align-items: center;
}

.instagram a {
  text-decoration: none;
  color: black;
}

.instagram a:hover {
  text-decoration: underline;
  color: #3bb300;
}

.instagram img {
  width: 30px;
  height: 30px;
}

.linkedin {
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkedin a {
  text-decoration: none;
  color: black;
}

.linkedin a:hover {
  text-decoration: underline;
  color: #3bb300;
}

.linkedin img {
  width: 30px;
  height: 30px;
}

.github {
  display: flex;
  justify-content: center;
  align-items: center;
}

.github a {
  text-decoration: none;
  color: black;
}

.github a:hover {
  text-decoration: underline;
  color: #3bb300;
}

.github img {
  width: 30px;
  height: 30px;
}

footer p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  color: black;
}

#toTopBtn {
  position: fixed;
  border-radius: 20px;
  bottom: 26px;
  right: 39px;
  z-index: 98;
  padding: 21px;
  background-color: #3bb300;
}

.js .cd-top--fade-out {
  opacity: .5
}

.js .cd-top--is-visible {
  visibility: visible;
  opacity: 1
}

.js .cd-top {
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s, visibility .3s, background-color .3s
}

.cd-top {
  position: fixed;
  bottom: 20px;
  bottom: var(--cd-back-to-top-margin);
  right: 20px;
  right: var(--cd-back-to-top-margin);
  display: inline-block;
  height: 40px;
  height: var(--cd-back-to-top-size);
  width: 40px;
  width: var(--cd-back-to-top-size);
  box-shadow: 0 0 10px rgba(0, 0, 0, .05) !important;
  background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg) no-repeat center 50%;
  background-color: #0a1324;
  background-color: hsla(var(--cd-color-3-h), var(--cd-color-3-s), var(--cd-color-3-l), 0.8)
}